<h1> <%= @product["name"] %> </h1>
<h2> Description: <%= @product["description"] %> </h1>
<h2> Price: <%= @product["formatted"]["price"] %> </h2>
<h2> Tax: <%= @product["formatted"]["tax"] %> </h2>
<h2> Total: <%= @product["formatted"]["total"] %> </h2>





<a href="/client/products">Home</a>